@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --green: #B9FF66;
  --gray-200: #F3F3F3;
  --gray-900: #292A32;
}

@theme {
  --color-green: var(--green);
  --color-gray-900: var(--gray-900);
  --color-gray-200: var(--gray-200);
}


body {
  
}
